<a href="https://colab.research.google.com/github/CharityDuran/Charity_INFO5502_Summer2022/blob/main/lab_assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first Lab-assignment (07/15/2022 11:59'AM' to 7/19/2022 11:59PM, 50 points in total)**

(1) Write a Python program to count the number of characters in a string. (6 points)

Sample String : 'google.com', 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
# write your answer here
a = 'google.com'
count_all = {}
for i in a:
  if i in count_all:
    count_all[i] += 1
  else:
     count_all[i] = 1

print('The number of charaters in google.com is :\n ' + str(count_all))

The number of charaters in google.com is :
 {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(2) Write a Python program to sum all the items in a list. (6 points)

In [ ]:
# write your answer here
numbers = [1,2,3,4,5]
sum = sum(numbers)
print(sum)

15

(3) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (6 points)

Sample String : 'restart', 

Expected Result : 'resta\$t'

In [4]:
# write your answer here

a = 'restart'
def change_char(str1):
  char=str1[0]
  str1 = str1.replace(char, '$')
  str1=char+str1[1:]

  return str1

print(change_char(a))

resta$t

(4) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (6 points)

In [9]:
# write your answer here
a=input('Please input number for a: ')
a_num=float(a)
b=input('Please input number for b: ')
b_num=float(b)
S=3.14*(1+a_num/b_num)**3
print('The out put of S=3.14*(1+a/b)**3 for the values you input is:', S)

Please input number for a: 2
Please input number for b: 3
The out put of S=3.14*(1+a/b)**3 for the values you input is: 14.537037037037033

(5) Write a Python program to concatenate following dictionaries to create a new one. (6 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [16]:
# write your answer here
dict1={1:10,2:20}
dict2={3:30,4:40}
dict3={5:50,6:60}
dict4={**dict1,**dict2,**dict3}
print(dict4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(6) Write a Python program to check whether an element exists within a tuple. (6 points)

In [18]:
# write your answer here
#define tuple
tuple1=('a','b','c',1,2,3)
print('a' in tuple1)
print('x' in tuple1)

True
False

(7) Write a Python program to find maximum and the minimum value in a set. (6 points)

In [20]:
# write your answer here
#create a set
set1={1,10,100,1000,10000}
print('Maximum value is: ',max(set1))
print('Minimum value is: ',min(set1))

Maximum value is:  10000
Minimum value is:  1

(8) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (8 points)

In [24]:
# write your answer here
array1=[1,1,2,2,3,3]
array2=[1,2,3,4,5,6]

def find_duplicates(nums):
  num_set = set()
  no_duplicate = -1

  for i in range(len(nums)):

    if nums[i] in num_set:
      return nums[i]
    else:
      num_set.add(nums[i])
    
  return no_duplicate

print(find_duplicates(array1))
print(find_duplicates(array2))

1
-1