<a href="https://colab.research.google.com/github/CharityDuran/Charity_INFO5502_Summer2022/blob/main/lab_assignment_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The second Lab-assignment (07/19/2022 11:59'AM' - 07/22/2022 11:59PM, 50 points in total)**

# Question 1

(5 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [6]:
# Your code here
#generate random list using random.randint function
#print list
#sort list by asending then desending using sort function print list
#average list and print value
import random
randomlist = []
for i in range(0,11):
  n = random.randint(1,100)
  randomlist.append(n)
print(randomlist)
asend_list=randomlist
asend_list.sort()
print(asend_list)
desend_list=randomlist
desend_list.sort(reverse=True)
print(desend_list)
average=sum(randomlist)/len(randomlist)
print(average)

[55, 44, 9, 18, 58, 40, 25, 42, 10, 23, 30]
[9, 10, 18, 23, 25, 30, 40, 42, 44, 55, 58]
[58, 55, 44, 42, 40, 30, 25, 23, 18, 10, 9]
32.18181818181818

# Question 2 

(5 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [78]:
# Your code here
#print header
#define pi
#write for loop to calculate Volume for value of r ranging from 1 to 10
#print the value of r and V
print('r\tV')
pi=3.1415926535897931
for r in range(1,11):
  v=(4/3)*pi*r
  print(r,v)

r	V
1 4.1887902047863905
2 8.377580409572781
3 12.566370614359172
4 16.755160819145562
5 20.94395102393195
6 25.132741228718345
7 29.321531433504735
8 33.510321638291124
9 37.69911184307752
10 41.8879020478639

# Question 3

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [lab_assignment_02_denton_housing.csv](https://github.com/suthapalliuday/INFO5502-Summer2022/blob/main/datasets/lab_assignment_02_denton_housing.csv) included with this assignment. The file [lab_assignment_02_denton_housing.csv](https://github.com/suthapalliuday/INFO5502-Summer2022/blob/main/datasets/lab_assignment_02_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [20]:
# Your code here
#import file
#from google.colab import files
#uploaded = files.upload()

import pandas as pd
import statistics
#read file
denton_house=pd.read_csv('lab_assignment_02_denton_housing.csv')
denton_house.head()

#Calculate the difference in the number of Occupied Housing Units from year to year and print it.
#The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.
#create new data frame for with occupied housing units sorted by year
o_houses = denton_house[denton_house['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])
#reset the index
o_houses=o_houses.reset_index()
#calculate difference for year over year, create data frame to output only year and difference
o_houses['difference']=o_houses['value'].diff(1)
o_houses=o_houses[['year','difference']]
o_houses

   year  difference
0  2008         NaN
1  2009      -795.0
2  2010      5091.0
3  2011      -303.0
4  2012      1404.0
5  2013      1565.0
6  2014      2622.0

In [86]:
# For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:
denton_house=pd.read_csv('lab_assignment_02_denton_housing.csv')
denton_house.head()
all_years = denton_house['year'].unique()
all_years = pd.DataFrame(all_years, columns =['year'])

o_houses = denton_house[denton_house['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])
o_houses=o_houses.reset_index()
o_houses = o_houses[['year','value']]
o_houses.columns=['year','Occupied Housing Units']

v_houses = denton_house[denton_house['title_field'] == 'Vacant Housing Units'].sort_values(by=['year'])
v_houses=v_houses.reset_index()
v_houses = v_houses[['year','value']]
v_houses.columns=['year','Vacant Housing Units']
v_houses

all_houses = pd.merge(all_years,o_houses, on='year')
all_houses = pd.merge(all_houses,v_houses, on='year')
all_houses['Percent Occupied']= (all_houses['Occupied Housing Units']/(all_houses['Occupied Housing Units']+all_houses['Vacant Housing Units']))
all_houses['Percent Occupied']=pd.Series(["{0:.2f}%".format(val * 100) for val in all_houses['Percent Occupied']], index = all_houses.index)
all_houses['Percent Vacant']= (all_houses['Vacant Housing Units']/(all_houses['Occupied Housing Units']+all_houses['Vacant Housing Units']))
all_houses['Percent Vacant']=pd.Series(["{0:.2f}%".format(val * 100) for val in all_houses['Percent Vacant']], index = all_houses.index)

print(all_houses[['year','Percent Occupied','Percent Vacant']])

   year Percent Occupied Percent Vacant
0  2014           94.27%          5.73%
1  2013           91.20%          8.80%
2  2012           93.32%          6.68%
3  2011           90.62%          9.38%
4  2010           91.86%          8.14%
5  2009           90.93%          9.07%
6  2008           89.12%         10.88%

In [112]:
#(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. 
denton_house=pd.read_csv('lab_assignment_02_denton_housing.csv')
#find the maximum values for occupied and vacant house
max_o_houses = max(denton_house [denton_house['title_field']=='Occupied Housing Units'].value)
o_houses= o_houses[o_houses['value']==max_o_houses]
max_v_houses = max(denton_house [denton_house['title_field']=='Vacant Housing Units'].value)
v_houses= v_houses[v_houses['value']==max_v_houses]
#print maximum values
print('Occupied Housing Units',o_houses)
print('Vacant Housing Units',v_houses)

Occupied Housing Units    year             title_field  value
2  2014  Occupied Housing Units  46295
Vacant Housing Units     year           title_field  value
19  2008  Vacant Housing Units   4483

In [119]:
#Calculate the harmonic mean of the total housing units and print it out.
#harmonic mean = n/(1/x1+1/x2+...1/xi)
from scipy import stats
denton_house=pd.read_csv('lab_assignment_02_denton_housing.csv')
total_houses=denton_house[denton_house['title_field'] == 'Total Housing Units'].sort_values(by=['year'])
total_houses
stats.hmean(total_houses.loc[:,'value'])

44398.28543969185